.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6695e8;
  padding: 15px 25px;
}

.logo {
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  text-decoration: underline;
}