body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  padding: 20px;
}

.home-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.home-book-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.home-book-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.home-details-btn {
  display: inline-block;
  margin-top: 10px;
  background: #a9d3ff;
  color: white;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 5px;
}

.add-book-container {
  max-width: 500px;
  margin: 40px auto;
  background: rgb(241, 221, 221);
  padding: 20px;
  border-radius: 10px;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
